:root {
    --t: 20;
  }
  
  @property --t {
    syntax: '<number>';
    initial-value: var(--t);
    inherits: true;
  }
  
  @property --s {
    syntax: '<integer>';
    initial-value: 0;
    inherits: true;
  }
  
  .countdown {
    --s: calc(var(--t) / 1);
    display: grid;
    margin: 1em auto;
    width: 20em;
    height: 20em;
    animation: t calc(var(--t) * 1s) linear infinite;
  }
  
  .countdown::after {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    font: calc(.25 * 20em) / 2 ubuntu mono, consolas, monaco, monospace;
    counter-reset: s var(--s);
    content: '0:' counter(s, decimal-leading-zero);
  }
  
  @keyframes t {
    to {
      --t: 0;
    }
  }
  